.question-card {
	width: 375px;
	text-align: center;
	margin: 10px auto;
	background: #f0ece0;
  	border: 2px solid #504037;
  	border-radius: 4px;
}

.question-card h2 {
	margin: auto 20px;
	padding: 5px;
	font-size: 20px;
}

.question-card p{
	width: 85%;
	margin: 5px auto;
}

.question-holder {
	display: flex;
	flex-wrap: wrap;
	width: 85%;
	margin: 0 auto;
}

button.button {
	margin: 10px
}

@media screen and (max-width: 600px){
	.button {
		display: block;
		width: 100%;
	}
}