.info-section {
  width: 40%;
  padding: 40px;
  margin: 0px auto 10px;
  background: #f0ece0;
  border-radius: 15px;
  border: 2px solid #504037;
  font-size: 20px;
}  

.info-section h2 {
	text-align: center;
	font-size: 25px;
}

.info-section img {
	display: block;
	margin: 0 auto;
	width: 300px;
}

@media screen and (max-width: 600px){
	.info-section {
	  width: 100%;
	  margin: auto;
	  }
}

@media screen and (max-width: 1000px){
  .info-section {
    width: 95%;
  }
}
