

.info {
	display: block;
	width: 100%;
	text-align: center;
}

.info h1 {
	display: block;
	background: #A68053;
	padding: 10px;
	margin: 0;
	font-size: 35px;
}

.example-card {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
	padding: 10px;
	margin: 10px;
	background: #f0ece0;
	border-radius: 15px;
	border: 2px solid #504037;
}

.example-card img{
	display: block;
	width: 50%;
}

.example-card h3, p{
	display: block;
	width: 100%;
	margin-top: 0;
}

.website {
	display: block;
}

.website-card {
	display: flex;
	align-items: center;
	width: 55%;
	padding: 0px;
	margin: 10px auto;
	background: #f0ece0;
	border-radius: 15px;
	border: 2px solid #504037;

}

.website-card img{
	display: inline-block;
	width: 25%;
	margin: 5px auto;
}

.website-card .textStuff{
	display: inline-block;
	width: 50%;
	margin: 30px;
}

.website-card h3, .website-card p{
	display: block;
	width: 100%;
	font-size: 18px;
	margin: 0 auto;
}

@media screen and (max-width: 600px){
	.example-card {
		display: inline-block;
		width: 90%;
	}

	.example-card img{
		display: block;
		width: 50%;
		margin: 0 auto;
	}
	.website-card img{
		display: block;
		width: 60%;
		margin: 0 auto;
	}
	.website-card {
		display: block;
		width: 90%;
		padding: 10px;
	}
	.website-card h3, .website-card p{
		font-size: 18px;
	}
	.website-card .textStuff{
		display: inline-block;
		width: 80%;
		margin: 30px;
	}
}
