.login-form {
  width: 30%;
  padding: 40px;
  margin: 50px auto 10px;
  background: #f0ece0;
  border-radius: 15px;
  border: 2px solid #504037;
}

.login-form label{
  display: block;
  color: black;
  text-align: center;
  padding-top: 0;
  font-size: 15px;
}

.register-form {
  display: inline-block;
  width: 50%;
  padding: 40px;
  margin: 0 auto;
  background: #f0ece0;
  border-radius: 15px;
  border: 2px solid #504037;
}

.register-form label{
  display: block;
  color: black;
  text-align: center;
  padding-top: 0;
  font-size: 15px;
}

input, select,
button {
  margin: 10px auto;
  display: block;
  width: 70%;
  border: 1px solid #504037;
  padding: 10px 15px;
  border-radius: 3px;
  font-size: 18px;
  text-align: left;
  height: auto;
  background: white;
    text-decoration: none;
}

button {
  width: 65%;
  display: block;
  height: auto;
  background: #504037;
  border-radius: 3px;
  color: #FEFEFE;
  text-align: center;
  border: 0;
  padding: 15px;
  margin-bottom: 0;
  text-decoration: none;
}

button:hover {
  background-color: #977663;
  cursor: pointer;
}

.logIn{
  display: block;
  margin: 10px auto;
  width: 390px;
  background: #E4DCCB;
  padding: 5px;
  text-align: center;
  color: #524656;
  border-radius: 15px;
  border: 2px solid #504037;
}

.logIn a{
  text-decoration: none;
  color: #524656;
}

.logIn p{
  margin: auto 0;
  padding: 5px;
}

.home {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
} 

.title{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 30px;
  margin: 15px;
}

@media screen and (max-width: 600px){
  .login-form {
    background: #E4DCCB;
    width: 100%;
    padding: 40px;
    margin: 0 auto;
  }

  .info-section {
    width: 100%;
    margin: auto;
    }

  .register-form {
    width: 100%;
  }
}

@media screen and (max-width: 1000px){
  .login-form {
    width: 75%;
  }

  .register-form {
    width: 95%;
  }
}

