ul.topnav img {
  width: 55px;
  margin: 5px;
  margin-left: 60px;
}

ul.topnav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    list-style-type: none;
    color: white;
    margin: 0px;
    padding: 0 5px;
    background-color: #A68053;
    width: 101%;
}

ul.topnav li a {
    display: block;
    text-align: center;
    margin-top: 5px;
    padding: 0 13px;
    color: white;
    text-decoration: none;
    font-size: 15px;
}

ul.topnav li {
  float: left;
}

ul.topnav li.right {
  float: right;
  margin: 20px 30px;
}

h4 {
  margin: 0;
}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {
      float: none;
      text-align: center;
    }
}